USE [master]
GO
/****** Object:  Database [DnD_Creator]    Script Date: 11/13/2018 8:01:22 PM ******/
CREATE DATABASE [DnD_Creator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DnD_Creator', FILENAME = N'R:\Programs\MSSQL14.SQLEXPRESS\MSSQL\DATA\DnD_Creator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DnD_Creator_log', FILENAME = N'R:\Programs\MSSQL14.SQLEXPRESS\MSSQL\DATA\DnD_Creator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DnD_Creator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DnD_Creator]
GO
/****** Object:  Table [dbo].[weapons]    Script Date: 11/13/2018 8:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weapons](
	[weapon_name] [varchar](50) NOT NULL,
	[weight] [int] NULL,
	[melee_or_ranged] [varchar](10) NOT NULL,
	[simple_or_martial] [varchar](10) NOT NULL,
	[damage] [varchar](10) NOT NULL,
	[damage_type] [varchar](20) NOT NULL,
	[versatile] [bit] NOT NULL,
	[attack_range] [varchar](20) NULL,
	[weapon_properties] [varchar](50) NULL,
	[active] [bit] NULL,
	[weapon_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[weapon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
